.logo {
  display: block;
  max-width: 10vw;
  max-height: 10vh;
  width: auto;
  height: auto;
}

.green {
  color: #138d75;
}
.red {
  color: #e74c3c;
}
.activePag {
  color: #fff;
  font-weight: bold;
  background-color: #7c25ff;
}
